.card{
    height: 30vh;
    width: 20vw;
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;

}

.card img{
    height: 50%;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}
.App{
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
}
